<div id="navigation" class="grid_2 ">
	<div class="menu">
		<h2>Navigation</h2>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about.html">About</a></li>

	</ul>
</div>
	<div class="menu">
	<h2>Meta</h2>
<a href="http://feeds.feedburner.com/JenniferSmithsBlog" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/></a><a href="http://feeds.feedburner.com/JenniferSmithsBlog" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">RSS</a>
</div>
</div>
