<div id="navigation" class="grid_2 ">
	<div class="menu">
		<h2>Navigation</h2>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about.html">About</a></li>

	</ul>
</div>
	<div class="menu">
	<h2>Meta</h2>
<p><a href="http://feeds.feedburner.com/JenniferSmithsBlog" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/JenniferSmithsBlog" rel="alternate" type="application/rss+xml">Subscribe in a reader</a></p>
</div>
</div>
