<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>{{ page.title }}</title>
		<link href="stylesheets/960.css" media="screen" rel="Stylesheet" type="text/css" />
	</head>

	<body>
		{% include header.html %}

		<div id="content" class="container_12">

		{% include navigation.html %}

			<div id="main-content" class="grid_10 ">
				{{ content }}
			</div>

		</div>
		<div id="footer" class="container_12">
			<p class="grid_12 ">
			</p>
		</div>


	</body>
</html>

