---
layout: default
title: About Me
---
/ use the :mardown filter if you want to write pages with Markdown
:markdown
 # About Me
 * My name is Jennifer Smith 
 * I live in the fair city of London 
 * I work as a developer at [ThoughtWorks](http://www.thoughtworks.com)
 * I am a person 
 I think that's enough...

